<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agenda</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="list-avatar-page" [ngClass]="{'activeAnimate': bAnimate}" overflow-scroll="true">

    <ion-list *ngFor="let group of events">
        <ion-list-header light>{{ group.month }}</ion-list-header>
        <ion-item *ngFor="let event of group.events" [ngClass]="{'currentEvent': event.coloured, '': !event.coloured}" (click)="openDetails(event)">
            <ion-avatar item-start> 
                <img src="{{ event.vaccinevisit_src }}">
            </ion-avatar>
            <h2>{{ event.day }}</h2>
            <p>{{ event.hour }}</p>

            <span item-end>
                <ion-icon name="md-create" (click)="editEvent($event, event)"></ion-icon>
                <ion-icon name="trash" (click)="deleteEvent($event, event)"></ion-icon>
                <ion-icon [name]="event.starred ? 'star' : 'star-outline'" (click)="toggleStarEvent($event, event)"></ion-icon>
            </span>    
        </ion-item>
    </ion-list>

       <!-- <ion-item>
            <ion-avatar item-start>
            <img src="assets/img/syringe70x.png">
            </ion-avatar>
            <span class="actions">
                <ion-icon name="settings"></ion-icon>
                <ion-icon name="trash"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </span>
            <h2>18:30-19:45</h2>
        </ion-item>

        <ion-list-header>March 2017</ion-list-header>

        <ion-item>
            <ion-avatar item-start>
            <img src="assets/images/syringe70x.png">
            </ion-avatar>
            <span class="actions">
                <ion-icon name="settings"></ion-icon>
                <ion-icon name="trash"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </span>
            <h2>27th March</h2>
            <p>18:30-19:45</p>
        </ion-item>

        <ion-item>
            <ion-avatar item-start>
            <img src="assets/images/doctor70x.png">
            </ion-avatar>
            <span class="actions">
                <ion-icon name="settings"></ion-icon>
                <ion-icon name="trash"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </span>
            <h2>27th March</h2> 
            <p>17:30-19:45</p>
        </ion-item>
-->

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="addEvent($event)">+</button>
    </ion-fab>

</ion-content>
