<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agenda</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="list-avatar-page" [ngClass]="{'activeAnimate': bAnimate}" overflow-scroll="true">

    <div class="emptylist" *ngIf="events.length == 0">{{ 'AGENDAPAGE_NOEVENTS' | dictionary }}</div>
    
    <ion-list *ngFor="let group of events">
        <ion-list-header light>{{ group.month }}</ion-list-header>
        <ion-item *ngFor="let event of group.events" [ngClass]="{'currentEvent': event.coloured, '': !event.coloured}" (click)="openDetails(event)">
            <ion-avatar item-start> 
                <img src="{{ event.vaccinevisit_src }}">
            </ion-avatar>
            <h2>{{ event.day }}</h2>
            <p>{{ event.hour }}</p>

            <span item-end>
                <ion-icon name="md-create" (click)="editEvent($event, event)"></ion-icon>
                <ion-icon name="trash" (click)="deleteEvent($event, event)"></ion-icon>
                <ion-icon [name]="event.starred ? 'star' : 'star-outline'" (click)="toggleStarEvent($event, event)"></ion-icon>
            </span>    
        </ion-item>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab color="primary" [disabled]="fromCalendar" (click)="addEvent($event)">+</button>
    </ion-fab>

</ion-content>
