.metadata/
RemoteSystemsTempFiles/

*.zip
*.rar
client/MyDogCare/package.json
client/MyDogCare/package.json
client/MyDogCare/config.xml
client/MyDogCare/config.xml
client/MyDogCare/config.xml
client/MyDogCare/package.json
server/mydogcare/src/main/resources/application.properties
client/MyDogCare/config.xml
client/MyDogCare/package.json
server/mydogcare/src/main/resources/application.properties
client/TodoListApp/
