page-signup {
    
    ion-content {
        background-color: white !important;

        input {
            width: 100%;
            border-radius: 6px;
            border: 1px solid grey;
        }
    }

    .logo-container {
        text-align: center;
        img {
            width: 100%;
            max-width: 150px;
            height: auto;
        }
    }
    .app-name{
        text-align: center;
    }
    
}
