<ion-header>
    
    <ion-navbar color="primary">
        <ion-title>{{ 'HOMEPAGE_TITLE' | dictionary }}</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
    
</ion-header>


<ion-content class="list-avatar-page" [ngClass]="{'activeAnimate': bAnimate}" overflow-scroll="true">
    <div class="emptylist" *ngIf="dogs.length == 0">{{ 'HOMEPAGE_NODOGS' | dictionary }}</div>

    <ion-item *ngFor="let dog of dogs">

        <div class = "main-element">
            <div class = "name">
                <h2>{{ dog.name }}</h2>
            </div>
            <br>

            <div class = "portrait">
                <img [src]="_DomSanitizer.bypassSecurityTrustUrl(dog.src)" />
            </div>

            <div class = "buttons">
                <div class = "button-row">
                    <div class = "icon">
                        <img src="assets/images/find_icon.png" alt="" />
                    </div>
                    <div class ="text">
                        <button ion-button block clear (click)="searchDog($event, dog)"><span class="withlink">{{ 'SEARCH' | dictionary }}</span></button>
                    </div>
                </div>
                
                <div class = "button-row">
                    <div class = "icon">
                        <img src="assets/images/profile_icon.png" alt="" />
                    </div>
                    <div class ="text">
                        <button ion-button block clear (click)="goDogProfile($event, dog)"><span class="withlink">{{ 'PROFILE' | dictionary }}</span></button>
                    </div>
                </div>

                <div class = "button-row">
                    <div class = "icon" (click)="goAgenda()">
                        <img src="assets/images/calendar_icon.png" alt="" />
                    </div>
                    <div class ="text">
                        <button ion-button block clear (click)="goAgenda($event, dog)"><span class="withlink">{{ 'AGENDAPAGE_TITLE' | dictionary }}</span></button>
                    </div>
                </div>

            </div>

        </div>

    </ion-item>


    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="addDog()">+</button>
    </ion-fab>

</ion-content>
