page-home {

    ion-list-header {
        border-top: none !important;
    }
    
    ion-item {
        padding-left: 0 !important;
        min-height: 60px !important;
        
        ion-label {
            white-space: initial !important;
        }
    } 
    
    .activeAnimate {
        .animate-task-bottom,
        .animate-task-top {
            animation-duration: $duration-task-animation;
        }
    }

    .main-title{
        text-align: center;
    }

    .main-element {
        padding-left: 10px;
    }

    div.name h2 {
        font-size: 20px;
        margin-left: 10px;
    }

    .portrait {
        float: left;
        img {
            width: 150px;
            height: 150px;
            border-radius: 100px;
        }
    }

    .buttons{
        vertical-align: top;
    }

    .icon{
        float: left;
        img {
            width: 100%;
            max-width: 50px;
            height: auto;
        }
    }

    .text{
        float: left;
        margin-top: 8px;
        margin-left: -11px;
    }

    .button-row{
        display: inline-block;
    }

    .emptylist {
        text-align: center;
        margin-top: 15px;
    }

}


  
