<ion-header>
    
    <ion-navbar color="secondary">
        <ion-title>{{ 'APP_NAME' | dictionary }}</ion-title>
        
        <ion-buttons right>
            <button ion-button clear icon-only (click)="addTask()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    
</ion-header>

<ion-content class="list-avatar-page" [ngClass]="{'activeAnimate': bAnimate}">

        <ion-item-group *ngFor="let group of events">
            
            <ion-item-divider light>{{ group.month }}</ion-item-divider>
            <ion-item *ngFor="let event of group.events">
                <ion-avatar item-start>
                    <img src="{{ event.vaccinevisit }}">
                </ion-avatar>
                
                <span class="actions">
                    <ion-icon name="settings"></ion-icon>
                    <ion-icon name="trash"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                </span>
                <h2>{{ event.day }}</h2>
                <p>{{ event.hour }}</p>
            </ion-item>
        
        </ion-item-group>

       <!-- <ion-item>
            <ion-avatar item-start>
            <img src="assets/img/syringe70x.png">
            </ion-avatar>
            <span class="actions">
                <ion-icon name="settings"></ion-icon>
                <ion-icon name="trash"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </span>
            <h2>18:30-19:45</h2>
        </ion-item>

        <ion-list-header>March 2017</ion-list-header>

        <ion-item>
            <ion-avatar item-start>
            <img src="assets/images/syringe70x.png">
            </ion-avatar>
            <span class="actions">
                <ion-icon name="settings"></ion-icon>
                <ion-icon name="trash"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </span>
            <h2>27th March</h2>
            <p>18:30-19:45</p>
        </ion-item>

        <ion-item>
            <ion-avatar item-start>
            <img src="assets/images/doctor70x.png">
            </ion-avatar>
            <span class="actions">
                <ion-icon name="settings"></ion-icon>
                <ion-icon name="trash"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </span>
            <h2>27th March</h2> 
            <p>17:30-19:45</p>
        </ion-item>
-->

    <ion-fab right bottom>
        <button ion-fab color="danger">+</button>
    </ion-fab>

</ion-content>
