page-login {
    
    ion-content {
        background-color:white !important;
    }
    
    .logo-container {
        text-align: center;
        img {
            width: 100%;
            max-width: 150px;
            height: auto;
        }
    }
    .app-name{
        text-align: center;
    }

    .button-signup{
        color: black;
        background-color: transparent;
    }

}
